@import url(reset.css);
*{margin: 0;padding: 0;font-family: "微软雅黑"}
a{text-decoration: none;}
a:active, a:hover{text-decoration: none;}
p{margin:0;}
label{display: inline;font-weight: normal;}
input[type=checkbox], input[type=radio]{
	margin:0;
}
/*iphone 4 */
@media screen and (min-width: 320px) and (max-width: 349px) {
  html {
    font-size: 62.5%; 
  } 
}
/*iphone 5 */
@media screen and (min-width: 350px) and (max-width: 413px) {
  html {
    font-size: 87.5%; 
  } 
}
/*iphone 6 */
@media screen and (min-width: 350px) and (max-width: 413px) {
  html {
    font-size: 100%; 
  } 
}

html,body,.container{
	width:100%;
	height: 100%;
}
html,body{
	/*overflow: hidden;*/
}
.container{
	padding: 0;
	overflow-y:scroll;
}
.container .list{
	width:100%;
	height: auto;
	 
}
.question-list{
	border-radius: 4px;
	border:1px solid #ccc;
	margin:10px;
}

.question-list-title{
	font-size:14px;
	padding: 5px 20px;
	border-bottom:1px solid #ccc;
	line-height: 20px;
}
.question-list-button{
	display: block;
	margin:10px auto;
	outline:none;
	text-align: center;
}

.container .test{
	width:100%;
	height: 100%;
	position: relative;
	padding-top: 99px;
	padding-bottom: 44px;
}
.container .test .test_header{
	width:100%;
	height:44px;
	border-bottom:1px solid #ccc;
	position:fixed;
	background-color: #fff;
	top:0;
}
.container .test .test_header .test_time{
	position: absolute;
	top:10px;
	left:10px;
	font-size: 16px;
}
.container .test .test_header .test_time i{
	padding-right: 5px;
}
.container .test .test_header .test_btn{
	position: absolute;
	top:4px;
	right:10px;
}
.container .test .test_header .test_btn button{
	outline: none;
}
.test_main{
	position: relative;
	z-index: 9;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	background-color: #fff;
	margin-top: 1px;
}
.test_card{
	width: 100%;
	position: fixed;
	top:44px;
	border-bottom: 1px solid #ccc;
	background-color:#fff;
}
.card-slider{
	height: 55px;		
	line-height: 55px;
	padding-left: 10px;
	
}
.test_card_list{
	width: 100%;
	padding:5px;
	background-color: #eee;
	border-top: 1px solid #ccc;
	overflow: hidden;
}
.test_card_list.active{
	display: block;
}
.test_card_list li{
	float: left;
	margin: 5px;
	/*border:1px solid #ccc;
	margin: 5px 0;
	min-width: 42px;*/
}
.test_card_list li a{
	/*color:#000;*/
}
.test_card_list li.on{
	/*background: blue;*/
	
}
.test_card_list li.on a{
	color:#fff;
}
.test_questions,.result_questions{
	width: 100%;
}
.test-question-content{
	padding: 10px;
}

.test_questions_list{
	overflow-y:scroll; 
}
.test_questions_list h4,.result_questions_list h4{
	font-size: 20px;
	line-height: 26px;

}
.test_questions_list h4 span,.result_questions_list h4 span{
	padding:0 5px 0 0;
}
.test_questions_list label,.result_questions_list label{
	line-height: 30px;
	display: block;
}
.test_questions_list label input,.result_questions_list label input{
	vertical-align:middle;
}
.test_questions_list label,.result_questions_list label{
	vertical-align:middle;
	padding-left: 5px;
	
}
.test_questions_list label span,.result_questions_list label span{
	padding-left: 10px;
}
.test_questions_list label em,.result_questions_list label em{
	padding-left: 5px;
}
.test_footer{
	width: 100%;
	height: 44px;
	position: fixed;
	left:0;
	bottom:0;
	display:-webkit-box; 
	border-top: 1px solid #ccc;
	background: #fff;
}
.test_footer p{
	-webkit-box-flex:1;
	text-align: center;
	line-height: 44px;
	
}
#next{
	border-left: 1px solid #ccc;
}
.container .result{
	width:100%;
	height: 100%;
	position: relative;
	padding:98px 0 44px 0; 
}
.container .result .result_header{
	width:100%;
	height:44px;
	border-bottom:1px solid #ccc;
	position:fixed;
	top:0;
	background-color: #fff;

}
.container .result .result_header .result_title{
	position: absolute;
	top:5px;
	left:10px;
	font-size: 20px;
}
.container .result .result_header .result_btn{
	position: absolute;
	top:4px;
	right:10px;
}
.result_card{
	width: 100%;
	position: fixed;
	top:44px;
	background-color: #fff;
}
.result_card_list{
	width: 100%;
	padding:5px 10px;
	background-color: #eee;
}
.result_card_list li{
	border:1px solid #ccc;
	margin: 5px 0;
	min-width: 42px;
}

.result_card_list li a{
	color:#000;
}
.result_card_list li.wrong{
	background: #F82E3A;
}
.result_card_list li.wrong a{
	color:#fff;
}
.result_card_list li.right{
	background: #24B167;
}
.result_card_list li.right a{
	color:#fff;
}
.result_questions{
	overflow: auto;
	padding:10px;
}
.answer{
	width: 100%;
	background: #FCF2F1;
	border:1px solid #E7E7E8;
}
.answer h3{
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 14px;
	font-weight:bold;
	border-bottom:1px solid #E7E7E8;
	background: #F6F7F9;
	position: relative;
}
.answer h3 em:nth-of-type(1),.answer p em:nth-of-type(1){
	color:green;
}
.answer h3 a{
	position: absolute;
	right:10px;
}
.answer p{
	font-size: 14px;
	font-weight:bold;
	padding:10px 10px 0 10px;
}
.answer dl{
	width: 100%;
	display: -webkit-box;
	padding: 5px 10px 10px 10px;
}
.answer dl dt{
	width: 20px;
}.answer dl dd{
	-webkit-box-flex:1;
}
.modal-dialog{
	width: 80%;
}
#myModal .tan,#myModal2 .tan{
	position:absolute;
	top:50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#myModal .tan .btn,#myModal2 .tan .btn{
	/*margin:0 auto;
	background-color: #00f;
	color: #fff;*/
}
#myModal2 .tan .btn{
	margin:8px auto;
	display: block;
	min-width: 138px;
}
#myModal .tan h2,#myModal2 .tan h2{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
#myModal .tan .glyphicon-time{
	float: left;
	font-size: 16px;
	vertical-align: middle;
}
.modal-footer{
	text-align: center;
}
.modal-body{
	padding:20px 30px;
}

.card-slider .card-slider-down{
	display: inline-block;
}
.card-slider .card-slider-up{
	display: none;
}
.card-slider.active .card-slider-down{
	display: none;
}
.card-slider.active .card-slider-up{
	display: inline-block;
}


.test-answer-main{
	
	border-top: 1px solid #cec8c8;
	
}
.test-answer-top{
	padding: 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	background-color: #f6f7f9;
}
.test-answer-top .test-answer-up{
	display: inline-block;
}
.test-answer-top .test-answer-down{
	display: none;
}
.test-answer-top.active .test-answer-up{
	display: none;
}
.test-answer-top.active .test-answer-down{
	display: inline-block;
}
.test-answer-left{
	float: left;
}
.test-answer-right{
	float: right;
}
.test-answer-content{
	padding: 10px;
	background-color: #fcf2f1;
	border-bottom: 1px solid #cec8c8;
}

.inputText{
	width: 100%;
	margin-top: 20px;
	outline: none;
	padding: 0px 10px;
}
.inputTextarea{
	width: 100%;
	resize: none;
	margin-top: 20px;
	outline: none;
	padding: 0px 10px;
}