<script id="template-course-courseStudy" type="text/template"><div class="courseIndex">
		<ul class="option-ul course-change-ul">
			
		</ul>
		<div class="courseIndex-header">
			<div class="courseIndex-header-left">
				<a class="course-change" href="javascript:;">
					
					<span class="course-name"><span class="text-loader-content"><span class="text-loader"></span></span></span>
					<i class="icon-triangle"></i>
				</a>
			</div>

			<div class="courseIndex-header-right">
				<ul class="courseIndex-ul">
					<li class="courseIndex-li active hover">
						<a class="courseIndex-a" href="javascript:;">
							<i class="icon icon-courseStudy"></i>
						</a>
						<div class="courseIndex-active-box">
							<div class="courseStudy-box js-courseIndex-nav-box">
								<a class="courseIndex-a-active" href="javascript:;">
									<i class="icon icon-courseStudy-active"></i>
								</a>
							</div>
						</div>
					</li>
					
					<li class="courseIndex-li">
						<a class="courseIndex-a" href="#courseAc/<%= data.courseId %>">
							<i class="icon icon-courseAc"></i>
						</a>
						<div class="courseIndex-active-box">
							<div class="courseAc-box js-courseIndex-nav-box">
								<a class="courseIndex-a-active" href="#courseAc/<%= data.courseId %>">
									<i class="icon icon-courseAc-active"></i>
								</a>
							</div>
						</div>
					</li>
					<li class="courseIndex-li">
						<a class="courseIndex-a" href="#courseNote/<%= data.courseId %>">
							<i class="icon icon-courseNote"></i>
						</a>
						<div class="courseIndex-active-box">
							<div class="courseNote-box js-courseIndex-nav-box">
								<a class="courseIndex-a-active" href="#courseNote/<%= data.courseId %>">
									<i class="icon icon-courseNote-active"></i>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="courseIndex-main">
			<div class="courseIndex-title">
				<i class="icon icon-course-title"></i>课程章节
				<div class="courseVersion">
					<span class="courseVersion-title">课程版本：</span>
					<div class="courseVersion-show">
						<a class="courseVersion-show-btn active" href="javascript:;"><span class="courseVersion-show-round"></span><span class="course-name"><span class="text-loader-content"><span class="text-loader"></span></span></span><i class="icon-triangle"></i></a>
					</div>
				</div>
			</div>
			
			<ul class="courseVersion-list">
				
			</ul>
			<div class="courseIndex-content">
				<div class="courseIndex-content-left">
					<div class="course-list">
						<div id="wrapper" class="wrapper">
							<div id="scroller" class="scroller">
							<div class="loader-content mt-50">
								<div class="loader-box"><div class="loader">加载中。。。</div></div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="courseIndex-content-right">
					<p class="course-title course-name"><span class="text-loader-content"><span class="text-loader"></span></span></p>
					<a class="course-desc lastLearn" href="javascript:;"><span class="text-loader-content"><span class="text-loader"></span></span></a>
					<p>
						<a class="continue-learning" href="javascript:;">继续学习</a>
						<a class="icon icon-handout-down" href="javascript:;" target="_blank"></a>
					</p>
					<p class="course-info">
						考试时间：<span class="course-info-examTime"><span class="text-loader-content"><span class="text-loader"></span></span></span>
						<span>|</span>
						课程到期：<span class="course-info-dueTime"><span class="text-loader-content"><span class="text-loader"></span></span></span>
					</p>
					<div class="course-progress">
						进度
						<span class="course-progress-box">
							<span class="course-progress-show" data-course-progress="0">
								<i class="icon icon-course-progress"></i>
							</span>
							<i class="icon icon-course-no-progress"></i>
						</span>
						<span class="course-percentage">0</span>%
						
					</div>
				</div>
			</div>
		</div>
	</div></script><script id="template-courseStudy-courseList" type="text/template"> <% _.each(courseNameArray,function(element, index, list){ %> <li class="option-li"><a class="option-a" data-courseid="<%= element.courseId %>" href="#courseStudy/<%= element.courseId %>"><%= element.courseName %></a></li> <% }) %> </script><script id="template-courseStudy-courseVersionList" type="text/template"> <%
		var courseActiveTimeIndex = 1; 
		_.each(courseVersion,function(element, index, list){
			var showCourseVersion = false;
			if(element.courseType && element.courseType != '1' && element.createDate>=courseActiveTime){
				showCourseVersion = true;
			}else{
				if(element.courseType && element.courseType != '1' && courseActiveTimeIndex){
					showCourseVersion = true;
					courseActiveTimeIndex = 0;
				}
			}
	%> <% if(showCourseVersion){ %> <li class="courseVersion-list-li">
				<a class="courseVersion-list-a" href="#courseStudy/<%= element.id %>" title="<%= element.title %>"> <%= element.title %> </a>
			</li> <% } %> <% }) %> </script><script id="template-courseStudy-taskList" type="text/template"> <% if(data.courseDetail.availability && $.trim(data.courseDetail.availability) != ''){ %> <div class="courseIndex-content-tips" title="<%= data.courseDetail.availability %>"> <%= data.courseDetail.availability %> </div> <% } %> <ul class="course-list-one-ul"> <% 
		var hasTask = false;
		_.each(data.courseDetail.chapters,function(element, index, list){
			var courseActiveState = element.courseActiveState;

			var chaptersindex = index;
			if(element.children && element.children.length || element.tasks && element.tasks.length){
				hasTask = true;
		%> <li> <% if(element.children && element.children.length){ %> <a class="course-list-title-a" href="javascript:;"><i class="icon icon-arrow-right"></i><i class="icon icon-arrow-bottom"></i><%= element.chapterTitle %></a>
					
						<ul class="course-list-two-ul"> <% _.each(element.children,function(element, index, list){ 
								var chaptersindex2 = index;
							%> <li> <% if(element.children && element.children.length){ %> <a class="course-list-title-a course-list-title-two-a"  href="javascript:;"><i class="icon icon-arrow-right"></i><i class="icon icon-arrow-bottom"></i><%= element.chapterTitle %></a>
									<ul class="course-list-three-ul"> <% 
											_.each(element.children,function(element, index, list){ 
												var courseListLink = 'course-list-link';
												var courseListType = 'icon-course-list-default';
												var progress = 0;
												var total = 0;
												var tasksState = 'no';
												var tasksStateEndNum = 0;
												if(element.tasks){

												
												_.each(element.tasks,function(element,index){
													var progressTotal = 0;
													var elementProgress = element.progress ? element.progress : 0;
													progress += elementProgress;
													if(element.progress && element.total){
														progressTotal = parseInt(element.progress)/parseInt(element.total);
													}
													if(progressTotal>=0.9){
														tasksStateEndNum ++;
													}
												})
												if(tasksStateEndNum == element.tasks.length){
													tasksState = 'end';
												}else{
													if(progress){
														tasksState = 'ing';
													}else{
														tasksState = 'no';
													}
												}
												switch (tasksState){
													case 'no':
														courseListType = 'icon-course-list-default';
														break;
													case 'ing':
														courseListType = 'icon-course-list-learning';
														break;
													case 'end':
														courseListType = 'icon-course-list-completed';
														break;
												}
										%> <li> <% 
												var videoIsFree = false;
												if(data.courseDetail.courseActiveState===4){
													videoIsFree = false;
												}else if(data.courseDetail.courseActiveState===3  || element.isFree=='true'){
												//if(element.isFree=='false' && data.courseDetail.courseActiveState!=3){
													videoIsFree = true;
												}
												if(videoIsFree){
													courseListLink = '';
													var link = '#video/'+data.courseId+'/'+element.chapterId+'?return_link=courseStudy/'+ data.courseId+'&return_hash=on';
													var videoNum = 0;
													var examNum = 0;
													
													_.each(element.tasks,function(element, index){
														if(element.taskType == "video"){
															videoNum = videoNum + 1;
														}else if(element.taskType == "exam"){
															examNum = examNum + 1;
														}
													});
													if(videoNum && examNum){
														courseListLink = 'course-list-link-width';
													}
												}else{
													var link = 'javascript:;';
													courseListType = 'icon-course-list-lock';
													courseListLink = 'course-list-link-nowidth';
												} 
											%> <a class="js-course-list-link course-list-link <%= courseListLink %>" link="<%= link %>" learning="learning" data-index="<%= chaptersindex + "|" + chaptersindex2 +"|" + index %>" href="javascript:;">
												<i class="icon icon-left <%= courseListType %>"></i>
												<span class="course-list-desc"><%= element.chapterTitle %></span>
												<div class="course-list-info">
													<div id="course-list-questions-box-<%= element.knowledgePointId %>" class="course-list-questions-box">
													<i class="icon icon-course-exam icon-course-questions"></i>
													<span class="">
														<span class="knowledge-point-number-<%= element.knowledgePointId %>">0</span><span>/</span><span class="knowledge-point-total-<%= element.knowledgePointId %>"><span class="text-loader-content"><span class="text-loader"></span></span></span>
														</span>
													<span id="knowledge-point-btn-<%= element.knowledgePointId %>" class="js-course-questions course-questions" data-chapterId="<%= element.chapterId %>" data-chapterName="<%= element.chapterTitle %>" data-knowledgepointid="<%= element.knowledgePointId %>">做题</span>
													</div> <% if(videoNum){ %> <span class="course-list-triangle"></span>X<%= videoNum %> <% } %> <% if(examNum){ %> <i class="icon icon-course-exam"></i>X<%= examNum %> <% } %> </div>
											</a>
										</li> <% } }) %> </ul> <% 
										}else if(element.tasks && element.tasks.length){
											var courseListLink = 'course-list-link';
											var courseListType = 'icon-course-list-default'; 
											var progress = 0;
											var total = 0;
											var tasksState = 'no';
											var tasksStateEndNum = 0;

											_.each(element.tasks,function(element,index){
												var progressTotal = 0;
												var elementProgress = element.progress ? element.progress : 0;
												progress += elementProgress;
												if(element.progress && element.total){
													progressTotal = parseInt(element.progress)/parseInt(element.total);
												}
												if(progressTotal>=0.9){
													tasksStateEndNum ++;
												}
											})
											if(tasksStateEndNum == element.tasks.length){
												tasksState = 'end';
											}else{
												if(progress){
													tasksState = 'ing';
												}else{
													tasksState = 'no';
												}
											}
											switch (tasksState){
												case 'no':
													courseListType = 'icon-course-list-default';
													break;
												case 'ing':
													courseListType = 'icon-course-list-learning';
													break;
												case 'end':
													courseListType = 'icon-course-list-completed';
													break;
											}
									%> <% 
											var videoIsFree = false;
												if(data.courseDetail.courseActiveState===4){
													videoIsFree = false;
												}else if(data.courseDetail.courseActiveState==3  || element.isFree=='true'){
												//if(element.isFree=='false' && data.courseDetail.courseActiveState!=3){
													videoIsFree = true;
												}
											if(videoIsFree){
												courseListLink = '';
												var link = '#video/'+data.courseId+'/'+element.chapterId+'?return_link=courseStudy/'+ data.courseId+'&return_hash=on';
												var videoNum = 0;
												var examNum = 0;
												
												_.each(element.tasks,function(element, index){
													if(element.taskType == "video"){
														videoNum = videoNum + 1;
													}else if(element.taskType == "exam"){
														examNum = examNum + 1;
													}
												});
												if(videoNum && examNum){
													courseListLink = 'course-list-link-width';
												}
											}else{
												var link = 'javascript:;';
												courseListType = 'icon-course-list-lock';
												courseListLink = 'course-list-link-nowidth';
											} 
										%> <a class="js-course-list-link course-list-link <%= courseListLink %>" link="<%= link %>" learning="learning" data-index="<%= chaptersindex + "|" + chaptersindex2  %>" href="javascript:;">
											
											<i class="icon icon-left <%= courseListType %>"></i>
											<span class="course-list-desc"><%= element.chapterTitle %></span>
											<div class="course-list-info">
												<div id="course-list-questions-box-<%= element.knowledgePointId %>" class="course-list-questions-box">
													<i class="icon icon-course-exam icon-course-questions"></i>
													<span class="">
														<span class="knowledge-point-number-<%= element.knowledgePointId %>">0</span><span>/</span><span class="knowledge-point-total-<%= element.knowledgePointId %>"><span class="text-loader-content"><span class="text-loader"></span></span></span>
													</span>
													<span  id="knowledge-point-btn-<%= element.knowledgePointId %>" class="js-course-questions course-questions" data-chapterId="<%= element.chapterId %>" data-chapterName="<%= element.chapterTitle %>" data-knowledgepointid="<%= element.knowledgePointId %>">做题</span>
												</div> <% if(videoNum){ %> <span class="course-list-triangle"></span>X<%= videoNum %> <% } %> <% if(examNum){ %> <i class="icon icon-course-exam"></i>X<%= examNum %> <% } %> </div>
										</a> <% } %> </li> <% }) %> </ul> <% }else if(element.tasks && element.tasks.length){ %> <% 
								var courseListLink = 'course-list-link';
								var courseListType = 'icon-course-list-default'; 
								var progress = 0;
								var total = 0;
								var tasksState = 'no';
								var tasksStateEndNum = 0;
								_.each(element.tasks,function(element,index){
									var progressTotal = 0;
									var elementProgress = element.progress ? element.progress : 0;
									progress += elementProgress;
									if(element.progress && element.total){
										progressTotal = parseInt(element.progress)/parseInt(element.total);
									}
									if(progressTotal>=0.9){
										tasksStateEndNum ++;
									}
								})
								if(tasksStateEndNum == element.tasks.length){
									tasksState = 'end';
								}else{
									if(progress){
										tasksState = 'ing';
									}else{
										tasksState = 'no';
									}
								}
								switch (tasksState){
									case 'no':
										courseListType = 'icon-course-list-default';
										break;
									case 'ing':
										courseListType = 'icon-course-list-learning';
										break;
									case 'end':
										courseListType = 'icon-course-list-completed';
										break;
								}
								var videoIsFree = false;
								if(data.courseDetail.courseActiveState===4){
									videoIsFree = false;
								}else if(data.courseDetail.courseActiveState==3  || element.isFree=='true'){
								//if(element.isFree=='false' && data.courseDetail.courseActiveState!=3){
									videoIsFree = true;
								}
								if(videoIsFree){
									courseListLink = '';
									var link = '#video/'+data.courseId+'/'+element.chapterId+'?return_link=courseStudy/'+ data.courseId+'&return_hash=on';
									var videoNum = 0;
									var examNum = 0;
									
									_.each(element.tasks,function(element, index){
										if(element.taskType == "video"){
											videoNum = videoNum + 1;
										}else if(element.taskType == "exam"){
											examNum = examNum + 1;
										}
									});
									if(videoNum && examNum){
										courseListLink = 'course-list-link-width';
									}
								}else{
									var link = 'javascript:;';
									courseListType = 'icon-course-list-lock';
									courseListLink = 'course-list-link-nowidth';
								} 
						%> <a class="js-course-list-link course-list-link <%= courseListLink %>" link="<%= link %>" learning="learning" data-index="<%= chaptersindex %>" href="javascript:;">

							<i class="icon icon-left <%= courseListType %>"></i>
							<span class="course-list-desc"><%= element.chapterTitle %></span>
							<div class="course-list-info">
								<div id="course-list-questions-box-<%= element.knowledgePointId %>" class="course-list-questions-box">
									<i class="icon icon-course-exam icon-course-questions"></i>
									<span class="">
										<span class="knowledge-point-number-<%= element.knowledgePointId %>">0</span><span>/</span><span class="knowledge-point-total-<%= element.knowledgePointId %>"><span class="text-loader-content"><span class="text-loader"></span></span></span>
									</span>
									<span id="knowledge-point-btn-<%= element.knowledgePointId %>" class="js-course-questions course-questions" data-chapterId="<%= element.chapterId %>" data-chapterName="<%= element.chapterTitle %>" data-knowledgepointid="<%= element.knowledgePointId %>">做题</span>
								</div> <% if(videoNum){ %> <span class="course-list-triangle"></span>X<%= videoNum %> <% } %> <% if(examNum){ %> <i class="icon icon-course-exam"></i>X<%= examNum %> <% } %> </div>
						</a> <% } %> </li> <%  } }) %> </ul></script>