<script id="template-activation-course" type="text/template">
	<div class="course-activation-acca">
		<div class="course-activation-acca-header">
			<h3 class="course-activation-acca-name"><%= CAICUI.render.courseName %></h3>
			<span class="course-activation-acca-day">（课程有效期<%= coursesBaseInfo.effectiveDay %>天）</span>
			<% if(isActivationCourse){ %>
				<a class="icon-close course-activation-acca-close js-course-activation-acca-close" href="javascript:;"></a>
			<% } %>

		</div>
		<div class="course-activation-acca-body">
			<div class="course-activation-acca-left">
				<ul class="course-activation-acca-ul">
					<% 
						_.each(JSON.parse(coursesBaseInfo.courseModel),function(element, index){ 
					%>
						<li class="course-activation-acca-li <%= index ? '' : 'active' %>"><a href="javascript:;" class="course-activation-acca-a"><%= $.base64.atob(element.name,'UTF-8') %></a><span class="course-activation-acca-span"></span></li>
					<% }) %>
				</ul>
				<ul class="course-activation-acca-content">
					<div id="wrapper-courseModel" class="wrapper">
						<div id="scroller-courseModel" class="scroller">
							<% 
								_.each(JSON.parse(coursesBaseInfo.courseModel),function(element, index){ 
							%>
							<li class="course-activation-acca-content-li <%= index ? '' : 'active' %>">
								<pre>
									<%= $.base64.atob(element.content,'UTF-8') %>
								</pre>
							</li>
							<% }) %>
						</div>
					</div>
				</ul>
			</div>
			<div class="course-activation-acca-right">
				<div id="wrapper-activation-acca" class="wrapper">
					<div id="scroller-activation-acca" class="scroller">
						<p class="course-activation-acca-p">课程概要</p>
						<div class="course-activation-acca-video">
							<% if(coursesBaseInfo.firstVideo){ %>
								<iframe scrolling="auto" allowtransparency="true" frameborder="0" width="100%" height="100%" src="player.html?ccid=<%= coursesBaseInfo.firstVideo %>"></iframe>
							<% }else if(coursesBaseInfo.coverPath){ %>
								<img class="course-activation-acca-bg" src="<%= window.static + coursesBaseInfo.coverPath %>">
							<% }else{ %>
								暂无简介
							<% } %>
						</div>
						<% if(isActivationCourse){ %>
							<!-- <p class="course-activation-acca-p">课程激活—学习计划</p>
							<p class="course-activation-acca-info">
								学习计划是为了帮助您合理安排学习时间，顺利通过考试<br>
								激活课程后即可正常学习，请注意，激活动作无法撤销，此课程一旦激活将在<%= CAICUI.render.effectiveDay %>天后失效,失效后将无法继续学习。请在有效期内合理安排学习进度
							</p>
							<p class="course-activation-acca-notes">注：会激活<%= CAICUI.render.subjectName %>中的全部课程。</p> -->
							<p class="course-activation-acca-p">课程激活</p>
							<p class="course-activation-acca-info">
								激活课程后即可正常学习，请注意，激活动作无法撤销，此课程一旦激活将在<%= CAICUI.render.effectiveDay %>天后失效,失效后将无法继续学习。请在有效期内合理安排学习进度
							</p>
							<p class="course-activation-acca-notes">注：会激活<%= CAICUI.render.subjectName %>中的全部课程。</p>
							<% if(CAICUI.render.isCoursePlan){ %>
								<a href="javascript:;" class="course-activation-acca-btn">选择学习计划</a>
							<% }else{ %>
								<div class="activation-course-operation">
									<div class="learning-plan-examTime">
										<span class="learning-plan-examTime-span">考试时间</span>
										<select class="learning-plan-examTime-input">
											<option value="default">请选择考试时间</option>
										</select>
									</div>
									<div class="learning-plan-box-btn">
										<a href="javascript:;" class="learning-plan-btn learning-plan-activation">确认激活</a>
										<span class="learning-plan-btn learning-plan-activationing hidden">正在激活</span>
										<a href="javascript:;" class="learning-plan-btn learning-plan-noactivation js-course-activation-acca-close">暂不激活</a>
									</div>

								</div>
							<% } %>
						<% }else{ %>
							<% if(isPlan && isPlan.length){ %>
								<p class="course-activation-acca-p">课程学习计划修改</p>
								<p class="course-activation-acca-info">
									在学习的过程中，如果您出现2周以上（包含2周）的学习计划延迟问题，您可以点击“申请修改学习计划”按钮，提交修改学习计划申请，我们的老师会第一时间帮您进行调整和修改。
								</p>
								<a href="javascript:;" class="learning-plan-btn learningPlan-apply-editor-confirm active">申请修改学习计划</a>
							<% }else{ %>

							<% } %>
							
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>