<script id="template-classCourse-activated" type="text/template">
    <div class="classCourse-left">
    	<div id="wrapper-classCourse-left" class="wrapper">
    		<div id="scroller-classCourse-left" class="scroller">

        <div class="studyin-content">
            <div class="studyin-contents active">
                <div class="studyin-contents-list">
                    <div class="studyin-content-header clearfloat">
                        <div class="subject-type-lf">
                            <span class="subject-name">CFA Level I</span> </div>
                        <div class="subject-type-rt stop">
                            <a class="u-icon" href="javascript:;"></a>
                        </div>
                    </div>
                    <ul class="studyin-content-subject clearfloat">
                        <li class="studyin-content-subjects">
                            <a href="#courseStudy/8a2a5fa451c0c3ad0151c2950ccf0080">
                                <div class="subject-lf">
                                    <img src="http://exstatic.zbgedu.com/upload/201712/27070a062d60498ca280b8fc64fa77ea.jpg" alt="课程图片">
                                    <!--  -->
                                    <div class="subject-mask">
                                        <span class="mask-lf">
																	继续学习
																</span>
                                        <!-- <span class="mask-rt">
																	→
																</span> -->
                                        <span class="subject-time">有效期至：2018/10/13</span>
                                    </div>
                                </div>
                                <div class="subject-rt">
                                    <h3>CFA L1 基础课（体验课）</h3>
                                    <span class="last-study-chapter">上次学到：知识点1 战略规划概述</span>
                                    <p class="extendName"> </p>
                                    <div class="subject-progress">
                                        <div class="total-progress">
                                            <div class="current-progress active" data-progress="1" style="width: 0.9px;"></div>
                                        </div>
                                        <span>%</span>
                                        <span> 1 </span> </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="studyin-contents ">
                <div class="studyin-contents-list">
                    <div class="studyin-content-header clearfloat">
                        <div class="subject-type-lf">
                            <span class="subject-name">F1</span> </div>
                        <div class="subject-type-rt stop">
                            <a class="u-icon" href="javascript:;"></a>
                        </div>
                    </div>
                    <ul class="studyin-content-subject clearfloat">
                        <li class="studyin-content-subjects">
                            <a href="#courseStudy/8a22ecb55e755132015e98c8f8c30178">
                                <div class="subject-lf">
                                    <img src="http://exstatic.zbgedu.com/upload/admin/201712/e1e7da573997dc70e99ca152c1c6f080.jpg" alt="课程图片">
                                    <!--  <span class="subject-u"><span class="subject-u-text">U+</span></span>  -->
                                    <div class="subject-mask">
                                        <span class="mask-lf">
																	继续学习
																</span>
                                        <!-- <span class="mask-rt">
																	→
																</span> -->
                                        <span class="subject-time">有效期至：2018/06/19</span>
                                    </div>
                                </div>
                                <div class="subject-rt">
                                    <h3>2017 复习串讲-ACCA F1 Accountant in Business</h3>
                                    <span class="last-study-chapter">上次学到：知识点1 战略规划概述</span>
                                    <p class="extendName"> <i class="icon icon-extendName-isu"></i> <span class="extendName-text">ACCA签约通关网络课程</span> </p>
                                    <div class="subject-progress">
                                        <div class="total-progress">
                                            <div class="current-progress" data-progress="0"></div>
                                        </div>
                                        <span>%</span>
                                        <span> 0 </span> </div>
                                </div>
                            </a>
                        </li>
                        <li class="studyin-content-subjects">
                            <a href="#courseStudy/8a22ecb55e755132015e8361703400c6">
                                <div class="subject-lf">
                                    <img src="http://exstatic.zbgedu.com/upload/admin/201712/4dac5751a7de28bd666cd70b83cef887.jpg" alt="课程图片">
                                    <!--  <span class="subject-u"><span class="subject-u-text">U+</span></span>  -->
                                    <div class="subject-mask">
                                        <span class="mask-lf">
																	继续学习
																</span>
                                        <!-- <span class="mask-rt">
																	→
																</span> -->
                                        <span class="subject-time">有效期至：2018/06/19</span>
                                    </div>
                                </div>
                                <div class="subject-rt">
                                    <h3>2017 ACCA F1 Accountant in Business</h3>
                                    <span class="last-study-chapter">上次学到：知识点1 战略规划概述</span>
                                    <p class="extendName"> <i class="icon icon-extendName-isu"></i> <span class="extendName-text">ACCA签约通关网络课程</span> </p>
                                    <div class="subject-progress">
                                        <div class="total-progress">
                                            <div class="current-progress active" data-progress="1" style="width: 0.9px;"></div>
                                        </div>
                                        <span>%</span>
                                        <span> 1 </span> </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
      	</div>
      </div>
    </div>
    <div class="classCourse-right">
    
    </div>
</script>