<script id="template-class-course-nav" type="text/template">
	<% 
		_.each(classCourseNav, function(element, index){ 
		var isActive = false;
		if(element.courseId == courseId){
			isActive = true;
		}
	%>
		<a class="teachingPlan-course-a <%= isActive ? 'active' : '' %>" href="#classCourseStudy/<%= element.courseId %>"><%= element.courseName %></a>
	<% }) %>
</script>
<script id="template-class-course-courseStudy" type="text/template">
	<div id="courseUpdate" class="courseUpdate" style="display: none">
		<div class="loader-box hidden"><div class="loader">加载中。。。</div></div>
	  <div class="courseUpdate-header">
	  	课程变更通知
	  	<a class="courseUpdate-close" href="javascript:;"></a>
	  </div>
	  <div class="courseUpdate-body">
	  	<pre class="courseUpdate-content">
	  	</pre>
	  	<div class="courseUpdate-footer">
	  		<a class="courseUpdate-submit" href="javascript:;">确定</a>
	  	</div>
	  </div>
	</div>
	<div class="courseIndex">
		<ul class="option-ul course-change-ul">
		</ul>
		<div class="courseIndex-header">
			<div class="courseIndex-header-left">
				<a class="course-change js-course-study-change" href="javascript:;">
					<span class="course-name"><span class="text-loader-content"><span class="text-loader"></span></span></span>
					<i class="icon-triangle"></i>
				</a>
			</div>
			<div class="courseIndex-header-right">
			</div>
		</div>
		<div class="courseIndex-main">
			<div class="courseIndex-title">
				<nav class="teachingPlan-course-nav">
				  <span class="text-loader-content"><span class="text-loader"></span></span>
				</nav>
				<!-- <i class="icon icon-course-title"></i>课程章节 -->
				<div class="courseVersion">
					<span class="courseVersion-title">课程版本：</span>
					<div class="courseVersion-show">
						<a class="courseVersion-show-btn active" href="javascript:;"><span class="courseVersion-show-round"></span><span class="course-name"><span class="text-loader-content"><span class="text-loader"></span></span></span><i class="icon-triangle"></i></a>
					</div>
				</div>
			</div>
			<ul class="courseVersion-list">
			</ul>
			<div class="courseIndex-content">
				<div class="courseIndex-content-left-box">
					<div class="courseIndex-content-left">
						<div class="course-list">
							<div id="wrapper-courseStudy-list" class="wrapper">
								<div id="scroller-courseStudy-list" class="scroller">
								<div class="loader-content mt-50">
									<div class="loader-box"><div class="loader">加载中。。。</div></div>
								</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="courseIndex-content-right-box">
					<div class="courseIndex-content-right">
						<div id="wrapper-courseStudy-right" class="wrapper">
							<div id="scroller-courseStudy-right" class="scroller scroller-courseStudy-right">
						<p class="course-title course-name"><span class="text-loader-content"><span class="text-loader"></span></span></p>
						<a class="course-desc lastLearn" href="javascript:;">上次学到：<span class="text-loader-content"><span class="text-loader"></span></span></a>
						<p>
							<a class="continue-learning" href="javascript:;">开始学习</a>
							<a class="handout-down js-handout-down" href="javascript:;">完整讲义解析下载</a>
							<a id="handoutDown" class="hidden"></a>
						</p>
						<p class="course-info">
							考试时间:<span class="course-info-examTime"><span class="text-loader-content"><span class="text-loader"></span></span></span>
							<br>
							课程到期:<span class="course-info-dueTime"><span class="text-loader-content"><span class="text-loader"></span></span></span>
							倒计时
							<span class="teachingPlan-span">0</span>
							<span class="teachingPlan-span">0</span>
							<span class="teachingPlan-span">0</span>
							天
						</p>
						<p class="course-task-progress">
							总任务完成数
							<div class="task-progress-content">
						    <div class="task-progress">
						      <div class="task-current-progress" data-progress="0"></div>
						    </div>
						    <span class="task-number"><span class="text-loader-content"><span class="text-loader"></span></span></span>
						  </div>
						</p>
						<!-- <p class="tasks-info">
							任务完成情况<span class="tasks-info-empty"></span>总进度<span class="tasks-info-progress"><span class="text-loader-content"><span class="text-loader"></span></span></span>%
							<br>
							总任务数<span class="tasks-info-totalNum"><span class="text-loader-content"><span class="text-loader"></span></span></span>个<span class="tasks-info-empty"></span>
							已完成<span class="tasks-info-doneNum"><span class="text-loader-content"><span class="text-loader"></span></span></span>个
						</p> -->

						
							</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>
<script id="template-class-courseStudy-courseVersionList" type="text/template">
	<%
		_.each(courseVersion,function(element, index){
	%>
		<li class="courseVersion-list-li">
			<a class="courseVersion-list-a" href="#courseStudy/<%= element.id %>" title="<%= element.title %>">
				<%= element.title %>
			</a>
		</li>
	<% }) %>
</script>
<script id="template-class-courseStudy-courseVersionList-back" type="text/template">
	<%
		var courseActiveData = [];
		var courseActiveTimeIndex = 1;
		_.each(courseVersion,function(element, index, list){
			var showCourseVersion = false;
			console.log(categoryName)
			if(categoryName == "CFA" || categoryName == "FRM"){
				showCourseVersion = true;
			}else{
				if(element.courseType && element.courseType != '1' && element.createDate > courseActiveTime){
					showCourseVersion = true;
				}else{
					if(element.courseType && element.courseType != '1'){
						courseActiveData.push(element);
					}
				}
			}
	%>
		<% if(showCourseVersion){ %>
			<li class="courseVersion-list-li">
				<a class="courseVersion-list-a" href="#courseStudy/<%= element.id %>" title="<%= element.title %>">
					<%= element.title %>
				</a>
			</li>
		<% } %>
		
	<% }) %>
	<%
		if(courseActiveData && courseActiveData.length){
			var courseActiveDataNew = _.max(courseActiveData, function(stooge){ return stooge.createDate; });
	%>
			<li class="courseVersion-list-li">
				<a class="courseVersion-list-a" href="#courseStudy/<%= courseActiveDataNew.id %>" title="<%= courseActiveDataNew.title %>">
					<%= courseActiveDataNew.title %>
				</a>
			</li>
	<%	} %>
</script>
<script id="template-class-courseStudy-availability" type="text/template">
	<% if(data.availability && $.trim(data.availability) != ''){ %>
		<div class="courseIndex-content-tips" title="<%= data.availability %>">
			<%= data.availability %>
		</div>

	<% } %>
</script>
<script id="template-class-courseStudy-taskList" type="text/template">
	<ul class="course-list-one-ul">
		<% 
		var hasTask = false;
		_.each(data.courseDetail.chapters,function(element, index, list){
			var courseActiveState = element.courseActiveState;

			var chaptersindex = index;
			if(element.children && element.children.length){
				hasTask = true;
		%>
			<li>
				
					<% if(element.children && element.children.length){ %>
						<a class="course-list-title-a" href="javascript:;"><i class="icon icon-arrow-right"></i><i class="icon icon-arrow-bottom"></i><%= element.chapterTitle %></a>
					
						<ul class="course-list-two-ul">
							<% _.each(element.children,function(element, index, list){ 
								var chaptersindex2 = index;
							%>
								<li>
									<% 
										if(element.tasks && element.tasks.length  || !element.children){
												var courseListLink = 'course-list-link';
												var courseListType = 'icon-course-list-default'; 
												var progress = 0;
												var total = 0;
												var tasksState = 'no';
												var tasksStateEndNum = 0;
												var tasksStateIngNum = 0;
												var tasksLength = 0;
												_.each(element.tasks,function(element,index){
													tasksLength++;
													if(element.state == "1"){
														tasksStateEndNum ++;
													}else if(element.state == "0"){
														tasksStateIngNum ++;
													}
												})

												if(element.tasks && tasksStateEndNum == element.tasks.length){
													tasksState = 'end';
												}else if(tasksStateIngNum || tasksStateEndNum){
													tasksState = 'ing';
												}

												switch (tasksState){
													case 'no':
														courseListType = 'icon-course-list-default';
														break;
													case 'ing':
														courseListType = 'icon-course-list-learning';
														break;
													case 'end':
														courseListType = 'icon-course-list-completed';
														break;
												}
										%>

										<% 
											var videoIsFree = false;
											if(element.isFree=='true' || data.courseDetail.courseActiveState===3){
												videoIsFree = true;
											}
											if(videoIsFree){
												if(element.tasks && element.tasks.length){
													courseListLink = '';
													var link = '#video/'+data.courseId+'/'+element.chapterId+'?return_link=courseStudy/'+ data.courseId+'&return_hash=on';
													var videoNum = 0;
													var examNum = 0;
													var openCourseNum = 0;
													_.each(element.tasks,function(element, index){
														if(element.taskType == "video"){
															videoNum = videoNum + 1;
														}else if(element.taskType == "exam" || element.taskType == "knowledgePointExercise"){
															examNum = examNum + 1;
														}else if(element.taskType == "openCourse"){
															openCourseNum = openCourseNum + 1;
														}
													});
												}else{
													var link = 'javascript:;';
												}
											}else{
												var link = 'javascript:;';
												courseListType = 'icon-course-list-lock';
												courseListLink = 'course-list-link-nowidth';
											} 
										%>
										<a href="javascript:;" class="js-course-list-link course-list-link <%= courseListLink %>" data-tasksLength="<%= tasksLength %>" data-chapterId="<%= element.chapterId %>" link="<%= link %>" learning="learning" data-index="<%= chaptersindex + "|" + chaptersindex2  %>">
											<i id="icon-progress-<%= element.chapterId %>" class="icon icon-left  <%= courseListType %>"></i>
											<span class="course-list-desc"><%= element.chapterTitle %></span>
											<div class="course-list-info">
												<% if(videoIsFree){ %>
												<% } %>
												<% if(videoNum){ %>
													<i class="icon icon-course-list-triangle"></i> <%= videoNum %>
												<% } %>
												<% if(examNum){ %>
													<i class="icon icon-course-exam icon-course-exam-pos-top"></i> <%= examNum %>
												<% } %>
												<% if(openCourseNum){ %>
													<i class="icon icon-course-list-openCourse"></i> <%= openCourseNum %>
												<% } %>
											</div>
										</a>
									<% } %>
									<% if(element.children && element.children.length){ %>
										<a class="course-list-title-a course-list-title-two-a"  href="javascript:;"><i class="icon icon-arrow-right"></i><i class="icon icon-arrow-bottom"></i><%= element.chapterTitle %></a>
										<ul class="course-list-three-ul">
										<% 
											_.each(element.children,function(element, index, list){ 
												var courseListLink = 'course-list-link';
												var courseListType = 'icon-course-list-default';
												var progress = 0;
												var total = 0;
												var tasksState = 'no';
												var tasksStateEndNum = 0;
												var tasksStateIngNum = 0;
												var tasksLength = 0;
												if(element.tasks && element.tasks.length || !element.children){
												_.each(element.tasks,function(element,index){
													tasksLength++;
													if(element.state == "1"){
														tasksStateEndNum ++;
													}else if(element.state == "0"){
														tasksStateIngNum ++;
													}
												})
												if(element.tasks && tasksStateEndNum == element.tasks.length){
													tasksState = 'end';
												}else if(tasksStateIngNum || tasksStateEndNum){
													tasksState = 'ing';
												}
												switch (tasksState){
													case 'no':
														courseListType = 'icon-course-list-default';
														break;
													case 'ing':
														courseListType = 'icon-course-list-learning';
														break;
													case 'end':
														courseListType = 'icon-course-list-completed';
														break;
												}
										%>
										<li>
											<% 
												var videoIsFree = false;
												if(element.isFree=='true' || data.courseDetail.courseActiveState===3){
													videoIsFree = true;
												}
												if(videoIsFree){
													if(element.tasks && element.tasks.length){
														courseListLink = '';
														var link = '#video/'+data.courseId+'/'+element.chapterId+'?return_link=courseStudy/'+ data.courseId+'&return_hash=on';
														var videoNum = 0;
														var examNum = 0;
														var openCourseNum = 0;
														_.each(element.tasks,function(element, index){
															if(element.taskType == "video"){
																videoNum = videoNum + 1;
															}else if(element.taskType == "exam" || element.taskType == "knowledgePointExercise"){
																examNum = examNum + 1;
															}else if(element.taskType == "openCourse"){
																openCourseNum = openCourseNum + 1;
															}
														});
														}else{
															var link = 'javascript:;';
														}
												}else{
													var link = 'javascript:;';
													courseListType = 'icon-course-list-lock';
													courseListLink = 'course-list-link-nowidth';
												}
											%>
											<a href="javascript:;" class="js-course-list-link course-list-link <%= courseListLink %>" data-tasksLength="<%= tasksLength %>" data-chapterId="<%= element.chapterId %>" link="<%= link %>" learning="learning" data-index="<%= chaptersindex + "|" + chaptersindex2 +"|" + index %>">
												<i id="icon-progress-<%= element.chapterId %>" class="icon icon-left <%= courseListType %>"></i>
												<span class="course-list-desc"><%= element.chapterTitle %></span>
												<div class="course-list-info">
													<% if(videoIsFree){ %>
													<% } %>
													<% if(videoNum){ %>
														<i class="icon icon-course-list-triangle"></i> <%= videoNum %>
													<% } %>
													<% if(examNum){ %>
														<i class="icon icon-course-exam icon-course-exam-pos-top"></i> <%= examNum %>
													<% } %>
													<% if(openCourseNum){ %>
														<i class="icon icon-course-list-openCourse"></i> <%= openCourseNum %>
													<% } %>
												</div>
											</a>
										</li>
										<% } %>
										<% }) %>
									</ul>
										<% } %>
										
								</li>
							<% }) %>
							
						</ul>

					<% } %>

				  <% if(element.tasks && element.tasks.length  || !element.children){ %>
						<% 
								var courseListLink = 'course-list-link';
								var courseListType = 'icon-course-list-default'; 
								var progress = 0;
								var total = 0;
								var tasksState = 'no';
								var tasksStateEndNum = 0;
								var tasksStateIngNum = 0;
								var tasksLength = 0;
								_.each(element.tasks,function(element,index){
									tasksLength++;
									if(element.state == "1"){
										tasksStateEndNum ++;
									}else if(element.state == "0"){
										tasksStateIngNum ++;
									}
								})
								if(element.tasks && tasksStateEndNum == element.tasks.length){
									tasksState = 'end';
								}else if(tasksStateIngNum || tasksStateEndNum){
									tasksState = 'ing';
								}
								switch (tasksState){
									case 'no':
										courseListType = 'icon-course-list-default';
										break;
									case 'ing':
										courseListType = 'icon-course-list-learning';
										break;
									case 'end':
										courseListType = 'icon-course-list-completed';
										break;
								}
								var videoIsFree = false;
								if(element.isFree=='true' || data.courseDetail.courseActiveState===3){
									videoIsFree = true;
								}
								if(videoIsFree){
									if(element.tasks && element.tasks.length){
										courseListLink = '';
										var link = '#video/'+data.courseId+'/'+element.chapterId+'?return_link=courseStudy/'+ data.courseId+'&return_hash=on';
										var videoNum = 0;
										var examNum = 0;
										var openCourseNum = 0;
										_.each(element.tasks,function(element, index){
											if(element.taskType == "video"){
												videoNum = videoNum + 1;
											}else if(element.taskType == "exam" || element.taskType == "knowledgePointExercise"){
												examNum = examNum + 1;
											}else if(element.taskType == "openCourse"){
												openCourseNum = openCourseNum + 1;
											}
										});
									}else{
										var link = 'javascript:;';
									}
								}else{
									var link = 'javascript:;';
									courseListType = 'icon-course-list-lock';
									courseListLink = 'course-list-link-nowidth';
								} 
						%>
						<a href="javascript:;" class="js-course-list-link course-list-link <%= courseListLink %>" data-tasksLength="<%= tasksLength %>" data-chapterId="<%= element.chapterId %>" link="<%= link %>" learning="learning" data-index="<%= chaptersindex %>">

							<i id="icon-progress-<%= element.chapterId %>" class="icon icon-left <%= courseListType %>"></i>
							<span class="course-list-desc"><%= element.chapterTitle %></span>
							<div class="course-list-info">
								<% if(videoIsFree){ %>
								<% } %>
								<% if(videoNum){ %>
									<i class="icon icon-course-list-triangle"></i> <%= videoNum %>
								<% } %>
								<% if(examNum){ %>
									<i class="icon icon-course-exam icon-course-exam-pos-top"></i> <%= examNum %>
								<% } %>
								<% if(openCourseNum){ %>
									<i class="icon icon-course-list-openCourse"></i> <%= openCourseNum %>
								<% } %>
							</div>
						</a>
					<% } %>
			</li>
			<% }else if(element.tasks && element.tasks.length  || !element.children){ %>
				
				<% 
						var courseListLink = 'course-list-link';
						var courseListType = 'icon-course-list-default'; 
						var progress = 0;
						var total = 0;
						var tasksState = 'no';
						var tasksStateEndNum = 0;
						var tasksStateIngNum = 0;
						var tasksLength = 0;
						_.each(element.tasks,function(element,index){
							tasksLength++;
							if(element.state == "1"){
								tasksStateEndNum ++;
							}else if(element.state == "0"){
								tasksStateIngNum ++;
							}
						})
						if(element.tasks && tasksStateEndNum == element.tasks.length){
							tasksState = 'end';
						}else if(tasksStateIngNum || tasksStateEndNum){
							tasksState = 'ing';
						}
						switch (tasksState){
							case 'no':
								courseListType = 'icon-course-list-default';
								break;
							case 'ing':
								courseListType = 'icon-course-list-learning';
								break;
							case 'end':
								courseListType = 'icon-course-list-completed';
								break;
						}
						var videoIsFree = false;
						if(element.isFree=='true' || data.courseDetail.courseActiveState===3){
							videoIsFree = true;
						}
						if(videoIsFree){
							if(element.tasks && element.tasks.length){
								courseListLink = '';
								var link = '#video/'+data.courseId+'/'+element.chapterId+'?return_link=courseStudy/'+ data.courseId+'&return_hash=on';
								var videoNum = 0;
								var examNum = 0;
								var openCourseNum = 0;
								_.each(element.tasks,function(element, index){
									if(element.taskType == "video"){
										videoNum = videoNum + 1;
									}else if(element.taskType == "exam" || element.taskType == "knowledgePointExercise"){
										examNum = examNum + 1;
									}else if(element.taskType == "openCourse"){
										openCourseNum = openCourseNum + 1;
									}
								});
							}else{
								var link = 'javascript:;';
							}
						}else{
							var link = 'javascript:;';
							courseListType = 'icon-course-list-lock';
							courseListLink = 'course-list-link-nowidth';
						} 
				%>
				<a href="javascript:;" class="js-course-list-link course-list-link <%= courseListLink %>" data-tasksLength="<%= tasksLength %>" data-chapterId="<%= element.chapterId %>" link="<%= link %>" learning="learning" data-index="<%= chaptersindex %>">

					<i id="icon-progress-<%= element.chapterId %>" class="icon icon-left <%= courseListType %>"></i>
					<span class="course-list-desc"><%= element.chapterTitle %></span>
					<div class="course-list-info">
						<% if(videoIsFree){ %>
						<% } %>
						<% if(videoNum){ %>
							<i class="icon icon-course-list-triangle"></i> <%= videoNum %>
						<% } %>
						<% if(examNum){ %>
							<i class="icon icon-course-exam icon-course-exam-pos-top"></i> <%= examNum %>
						<% } %>
						<% if(openCourseNum){ %>
							<i class="icon icon-course-list-openCourse"></i> <%= openCourseNum %>
						<% } %>
					</div>
				</a>
			<% } %>
		<%  }) %>
	</ul>
</script>
<script id="template-class-course-baseInfo" type="text/template">
	<div class="course-baseInfo">
		<a class="course-baseInfo-closeBtn" href="javascript:;">
			<span class="course-baseInfo-closeBtn-shadow"></span>
			<i class="icon icon-course-baseInfo-closeBtn"></i>
		</a>
		<span class="course-baseInfo-shadow">
		</span>
		<div class="course-baseInfo-content">
		</div>
	</div>
</script>
<script id="template-class-apply-editor-learningPlan" type="text/template">
	<div id="apply-editor-learningPlan" class="apply-editor-learningPlan">
		<h3 class="apply-editor-learningPlan-title">申请修改学习计划</h3>
		<p class="apply-editor-learningPlan-desc">您如果需要将您的学习任务勾选确认并发送申请，我们会尽 快为您重新制定学习计划~</p>
		<a  href="javascript:;" class="apply-editor-learningPlan-checkbox active"><i class="icon-learning-plan-checkbox"></i>我已确认</a>
		<nav class="apply-editor-learningPlan-btnBox">
			<a href="javascript:;" class="apply-editor-learningPlan-btn apply-editor-learningPlan-cancel">取消</a>
			<a href="javascript:;" class="apply-editor-learningPlan-btn apply-editor-learningPlan-confirm">申请</a>
		</nav>
	</div>
</script>