html,body{
	width: 100%;
	margin: 0;
	font-family: "微软雅黑"
}
.welcome-container{
	display: none;
	position: relative;
	overflow: hidden;
	min-width: 990px;
}
.welcome-bg{
	position: absolute;
	top: 0;
	left: 50%;
	width: 1600px;
	height: 4060px;
	margin-left: -800px;
	overflow: hidden;
}
.welcome-img{
	float: left;
}
.welcome-content{
	position: relative;
	z-index: 9;
	width: 990px;
	height: 3821px;
	margin: 0 auto;
}
.welcome-title{
	text-align: right;
  margin-top: 239px;
  font-size: 14px;
  width: 763px;
	color: #fff;
	opacity: .8;
}
.video{
	width: 477px;
	height: 227px;
	margin-left: 510px;
  margin-top: -57px;
}
.text{
	display: block;
}
.text-1{
	margin-left: 105px;
}
.text-2{
	margin-left: 105px;
}
.text-3{
	margin-left: 550px;
}
.banner-1{
	margin-top: 50px;
	margin-bottom: 30px;
}
.student-content{
	overflow: hidden;
	margin-left: -90px;
}
.student{
	float: left;
	margin-left: 90px;
	margin-top: 50px;
}
.text-4{
	float: right;
	margin-top: -285px;
}

.text-5{
	float: right;
}


.welcome-load{

}
.loader-box{
	color: #000;	
	background-color: #fff;
}
.loader-text{
	position: absolute !important;
  top: 50%;
  left: 50%;
  margin: 90px 0px 0px -54px;
  color: #000;
  opacity: .8;
  font-size: 14px;
}
.loader {
  position: absolute !important;
  top: 50%;
  left: 50%;
  margin: -10px 0px 0px -10px;
  font-size: 20px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load 1.5s infinite linear;
  animation: load 1.5s infinite linear;
}
/* 8cc474  */
@-webkit-keyframes load {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #43b0ab, 2em -2em 0 0em #43b0ab, 3em 
0em 0 -0.5em #43b0ab, 2em 2em 0 -0.5em #43b0ab, 0em 3em 0 -0.5em 
#43b0ab, -2em 2em 0 -0.5em #43b0ab, -3em 0em 0 -0.5em #43b0ab, -2em -2em
 0 0em #43b0ab;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #43b0ab, 2em -2em 0 0.2em #43b0ab, 3em 
0em 0 0em #43b0ab, 2em 2em 0 -0.5em #43b0ab, 0em 3em 0 -0.5em #43b0ab, 
-2em 2em 0 -0.5em #43b0ab, -3em 0em 0 -0.5em #43b0ab, -2em -2em 0 -0.5em
 #43b0ab;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #43b0ab, 2em -2em 0 0em #43b0ab, 3em
 0em 0 0.2em #43b0ab, 2em 2em 0 0em #43b0ab, 0em 3em 0 -0.5em #43b0ab, 
-2em 2em 0 -0.5em #43b0ab, -3em 0em 0 -0.5em #43b0ab, -2em -2em 0 -0.5em
 #43b0ab;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #43b0ab, 2em -2em 0 -0.5em #43b0ab, 
3em 0em 0 0em #43b0ab, 2em 2em 0 0.2em #43b0ab, 0em 3em 0 0em #43b0ab, 
-2em 2em 0 -0.5em #43b0ab, -3em 0em 0 -0.5em #43b0ab, -2em -2em 0 -0.5em
 #43b0ab;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #43b0ab, 2em -2em 0 -0.5em #43b0ab, 
3em 0em 0 -0.5em #43b0ab, 2em 2em 0 0em #43b0ab, 0em 3em 0 0.2em 
#43b0ab, -2em 2em 0 0em #43b0ab, -3em 0em 0 -0.5em #43b0ab, -2em -2em 0 
-0.5em #43b0ab;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #43b0ab, 2em -2em 0 -0.5em #43b0ab, 
3em 0em 0 -0.5em #43b0ab, 2em 2em 0 -0.5em #43b0ab, 0em 3em 0 0em 
#43b0ab, -2em 2em 0 0.2em #43b0ab, -3em 0em 0 0em #43b0ab, -2em -2em 0 
-0.5em #43b0ab;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #43b0ab, 2em -2em 0 -0.5em #43b0ab, 
3em 0em 0 -0.5em #43b0ab, 2em 2em 0 -0.5em #43b0ab, 0em 3em 0 -0.5em 
#43b0ab, -2em 2em 0 0em #43b0ab, -3em 0em 0 0.2em #43b0ab, -2em -2em 0 
0em #43b0ab;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #43b0ab, 2em -2em 0 -0.5em #43b0ab, 3em
 0em 0 -0.5em #43b0ab, 2em 2em 0 -0.5em #43b0ab, 0em 3em 0 -0.5em 
#43b0ab, -2em 2em 0 0em #43b0ab, -3em 0em 0 0em #43b0ab, -2em -2em 0 
0.2em #43b0ab;
  }
}